* {
  padding: 0;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
}

body {
  background-color: #fff894;
}

.name {
  text-align: center;
  font-family: "Rock Salt", cursive;
  position: absolute;
  font-weight: normal;
  font-size: 22px;
  width: 240px;
  height: 52px;
  margin-top: 88px;
  margin-left: 67px;
  margin-right: 68px;
  margin-bottom: 672px;
}

.img-one {
  position: absolute;
  width: 153px;
  height: 195px;
  margin-top: 268px;
  margin-right: 148px;
  margin-left: 74px;
  margin-bottom: 392px;
}

.img-two {
  position: absolute;
  width: 142px;
  height: 154px;
  margin-top: 302px;
  margin-right: 46px;
  margin-left: 187px;
  margin-bottom: 356px;
}

.Start-button {
  position: absolute;
  width: 299px;
  height: 64px;
  color: white;
  background-color: black;
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 22px;
  margin-top: 558px;
  margin-right: 33px;
  margin-left: 43px;
  margin-bottom: 190px;
}